.error {
  visibility: hidden !important;
  height: 0 !important;
  max-height: 0;
  display: none !important;
}

#app {
  width: 60%;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

#testconfig {
  width: 50%;
  height: 300px;
  position: absolute;
  background: white;
  z-index: 9;
}
#post_text {
  width: 100%;
  height: 60px;
  padding: 10px;
}

#new_post {
  float: right;
}

#username {
  float: right;
}

.container {
  margin: 10px;
  padding: 10px;
}

.post_title {
  font-weight: bold;
}

.post_like_button {
  float: right;
}

.post_delete_button {
  float: right;
}

.post_likes_container {
} 

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-color: none;
}

body{
    background-image: url(/icons/back2.png);
}

#post_container{
    background-color:orchid;
    border-radius: 10px;
}
textarea{
    background-color: seashell;
    border: none;
    border-radius: 5px;
}

textarea:focus{
    outline: none;
}

h1{
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 100px;
    padding-right: 100px;
    height: 60px;
    padding-top: 6px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#user_container{
    height: 50px;
}

button{
    width: 70px;
    height: 30px;
}
button:hover{
    background-color: lightpink;
    cursor: grab;
}
